
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href='css/sytle.css'">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
</head>

<body>
    <header>

        <div class="logo">
            <img src="./images/5.66.png" alt="">
        </div>
    </header>

    <div class="intro">

        <div class="heading">
            <h1>the executing team 3</h1>
        </div>

        <p id="aboutus">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non molestiae aperiam ullam tempore asperiores it porro repudiandae pariatur vitae laudantium,
        </p>
        <div class="card-container">


 <!-- card first -->

            <div class="card one">
                <div class="photo">
                    <img src="./images/sudh.png" alt="">
                </div>

                <div class="name">
                    <h2">sudhanshu kumar</h2>
                </div>

                <div class="post"> CEO</div>

                <div class="aboutthem">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti veritatis eligendi magnam soluta corrupti aperiam dignissimos quasi et, quam exercitationem.
                    </p>
                </div>
                <div class="social">
                    <img src="./images/facebook.png" alt="">
                    <img src="./images/linkedin.png" alt="">
                    <img src="./images/twitter (1).png" alt="">
                </div>

            </div>



<!-- card second -->
            <div class="card two">
                <div class="photo"><img src="./images/shri.png" alt=""></div>
                <div class="name">
                    <h2">shriya</h2>
                </div>
                
                <div class="post">vice CEO</div>

                <div class="aboutthem">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti veritatis eligendi magnam soluta corrupti aperiam dignissimos quasi et, quam exercitationem.
                    </p>
                </div>
                <div class="social">
                    <img src="./images/facebook.png" alt="">
                    <img src="./images/linkedin.png" alt="">
                    <img src="./images/twitter (1).png" alt="">
                </div>

            </div>



<!-- card third -->
            <div class="card three">
                <div class="photo"> <img src="./images/such.png" alt=""> </div>
                <div class="name">
                    <h2">suchita</h2>
                </div>
                <div class="post">Manager</div>

                <div class="aboutthem">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis ipsum ad sit iste non veniam tempore temporibus eum.</p>
                </div>

                <div class="social">
                    <img src="./images/facebook.png" alt="">
                    <img src="./images/linkedin.png" alt="">
                    <img src="./images/twitter (1).png" alt="">
                </div>
            </div>
            
        </div>



    </div>

    <footer>
        
        <h2>Licence</h2>
        <h2>Terms and Conditions</h2>
        <h2>privacy</h2>
        <h2>Copyright © 2021 Trishul Industries</h2>
    </footer>

</body>

</html>








